.list {
  width: 100%;
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
  justify-content: center;

  .list {
    background-color: white;
    width: 100%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    .image {
      width: 100%;
      background-color: yellow;
      img {
        width: 100%;
      }
    }
    .wrapper {
      font-size: 17px;
      padding: 4px;
    }
  }
}
