@import "../../config.scss";

.title {
  @include display-center;
  padding-top: 5%;
  padding-bottom: 3%;
  justify-content: center;

  .title-primary {
    margin: 10px;
    text-align: center;
  }
  .title-secondary {
    margin: 10px;
  }

  .title-ranking {
    color: $secondary-color;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 700px) {
    .title,
    .title-secondary {
      @include display-center;
      color: $extra-color;
    }

    .title-primary {
      font-size: 25px;
    }
    .title-ranking {
      display: none;
    }
  }
}
