@import "../../config.scss";

.title {
  padding-top: 5%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(8, 2, 92, 0.959);

  .title-primary {
    font-weight: 800;
    margin: 10px;
  }
  .title-secondary {
    margin: 10px;
  }

  .title-ranking {
    color: $secondary-color;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      color: rgba(8, 2, 92, 0.959);
    }
  }
  @media screen and (max-width: 700px) {
    .title,
    .title-secondary {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .title-primary {
      font-weight: 300;
      padding-left: 17%;
      padding-right: 14%;
      display: none;
    }
  }
}
