@import "../../config.scss";

.header {
  @include display-row;
  width: 100%;
  font-size: 15px;
  z-index: 999;
  padding-top: 8px;

  &-logo {
    min-width: 40%;
    cursor: pointer;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: $text-color;
  }

  button {
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color: $secondary-color;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: $text-color;
  }

  &-mobile-button {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .header {
    padding-top: 14px;
    @include display;
    justify-content: space-between;
  }
  a,
  .button-signin {
    display: none;
  }
  .header-mobile-button {
    @include display;
    margin-right: 12px;
    svg {
      font-size: 2rem;
    }
  }
  .header-logo {
    margin-left: 12px;
  }
}
