@import "../../config.scss";

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;

  &__searcher {
    background-color: rgba(255, 255, 255);
    width: 62rem;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  }

  .button-submit {
    width: 200px;
    height: 55px;
    background-color: $secondary-color;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 15px;
    color: black;
  }
  #office-searcher{
    width:100%;
  }
  @media screen and (max-width: 950px) {
   
    .search-bar__searcher {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 40rem;
      height: 15rem;
    }
   
  }
  @media screen and (max-width: 650px) {
   
    .search-bar__searcher {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 25rem;
      height: 15rem;
    }
   
  }
}
