

$primary-color: white;
$secondary-color: rgb(0, 210, 125);
$extra-color:rgb(0, 129, 78);

$text-color:rgba(8, 2, 92, 0.959);
$text-primary-color: black;
$text-secondary-color: red;

$font-family:'Roboto', sans-serif;;

@mixin display{
  display: flex;
}
@mixin display-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@mixin display-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

